<div class="container">

  <% @cities .each do |city| %>
    <p><%=link_to city.name, city_path(city)%></p>
    <%= link_to image_tag(city.img), city_path(city)%>
  <% end %>

</div><!-- end of container  -->
