<div class="container">


<h1 class="section__header--xl"> Get to Know Your Neighbors
</h1>
<h1 class="section__header--medium"> Choose a city to learn more about homelessness in your area.
</h1>
<div class="row">
  <% @cities .each do |city| %>
 	 <div class="col-md-3">
 	 	<div class="img">
		   <img src= "<%= city.img %>">
		 </div>
		    <p class="state"><%=link_to city.name, city_path(city)%></p>

  	 </div><!-- end of col-md-4  -->
   <% end %>


 </div><!-- end of row  -->

</div><!-- end of container  -->
