
<div class="container">

  <%=@city.name%>

  <p>Bio</p>

  <%=@city.homeless_pop%>


  <%= render 'form' %>

  <%= link_to "View homeless people", city_homeless_person_path(@city, @homeless) %>

</div><!-- end of container  -->
